/* #region root */
:root {
    --light-primary: #3161e0;
    --orange: #daa520;
    --dark-blue: #00008b;
    --pink: #ee82ee;
    --light-blue: #1e90ff;
    --salmon: #ffc0cb;
    --light-wood: #F6F6F6;
    --green: #228b22;
    --black: #23272a;
    --salmon-2: #f08080;
    --acquamarine: #20b2aa;
    --login: #eca9b3;
    --bg-login: #7fffd4;
    --discord: #7289da; 
}
/* #endregion root */
/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
}
.bg {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
}
.chill, .invete-only, .fandom, .keepintouch {
    display: flex;
    width: 70%;
    margin: auto;
}
.dflex {
    display: flex;
}

img {
    max-width: 100%;
}
.wave{
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    height: 250px;
    opacity: 4%;
 }
 .wave2{
     transform: scale(-1);
 }

/* #endregion common */
/* #region debug */
.debug * {
    border: 1px dashed black;
}
.debug .dblue .talking {
    height: 300px;
}
.debug .lwood {
    height: 300px;
}
.debug .lwood2 {
    height: 500px;
}
.debug .footer {
    height: 350px;
}
.debug .chill {
    height: 300px;
}
.debug .bg-white {
    height: 300px;
}
.debug .fandom {
    height: 300px;
}
.debug .keepintouch {
    height: 400px;
}
.debug .invete-only{
    height: 400px;
}
/* #endregion debug */
/* #region header */
.bg-heavenly {
    background-color: var(--light-primary);
    padding: 10px;
}
.h-flex {
    margin: auto;
    display: flex;
    width: 90%;
    font-weight: bolder;
    font-size: 7px;
    word-spacing: 20px;
    padding: 7px;
}
.logo {
    width: 20%;
    padding: 7px;
}
.link {
    width: 60%;
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 22px;
}
.whyds{
    word-spacing: 0;
}
.login {
    margin: auto;
    border-radius: 40px;
    background-color: white;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
    padding: 10px 40px;
}

/* #endregion header */
/* #region main */
.jumbo {
    flex-wrap: wrap;
}
/* #endregion main */
/* #region talking section */
.dblue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.talking{
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin-bottom: 200px;
}   
.talk{
    margin-bottom: 20px;
    margin-top: 150px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    word-spacing: 7px;
}
.introduction{
    margin-left: 30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 3%;
}
.dmac{
    font-size: 15px;
    background-color: white;
    color: var(--black);
    border-radius: 40px;
    padding: 5px;
    font-weight: bold;
    margin-left: 35%;
}
.openb{
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 5px;
    font-weight: bold;
}
/* #endregion talking section */
/* #region inveteonly section */
.white {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
}
.study {
    width: 65%;
    margin-right: 70px;
}
.luogo {
    width: 29%;
    margin-top: 30px;
}
.invite{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 50px;;
    margin-bottom: 10px;    
}
.channel{
    font-size: 20px;
}
/* #endregion inveteonly section */
/* #region chill section */
.bg-lwood {
    background-color: var(--light-wood);
    padding: 30px;
    width: 100%;
}
.lblue2 {
    width: 35%;
    
    .find{
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }
    .friend{
        font-size: 20px;
    }
}
.voiceconnected {
    width: 65%;
    margin-left: 70px;
}
/* #endregion chill section */
/* #region fandom section */
.fandom{
    font-size: 50px;
    margin-bottom: 10px;
}
.cstart{
    font-size: 20px
}
/* #endregion fandom section */
/* #region keepintouch section */
.bg-lwood2 {
    display: flex;
    background-color: var(--light-wood);
    padding: 30px;
    width: 100%;
}
.green {
    width: 100%;
    text-align: center;
}
.tecnology{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.tools{
    font-size: 20px;
}
.readytostart{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 28px;
}
.dmac2{
    font-size: 20px;
    background-color: var(--discord);
    color: var(--black);
    border-radius: 40px;
    padding: 5px;
    font-weight: bold;
}
/* #endregion keepintouch section */
/* #region footer */
.f-flex {
    flex-wrap: wrap;
    background-color: var(--black);
}

.footer {
    background-color: var(--black);
    justify-content: center;
    border-bottom: 2px solid var(--discord);
}

.posto {
    width: 70%;
    color: var(--discord);
    font-size: 30px;
    margin-bottom: 30px;
    
}
#ita{
    width: 30px;
    margin-right: 10px;
}
.italiano{
    color: white;
    font-weight: bold;
}

.acq {
    width: 10%;
}
.social{
    margin: 3px 3px 3px 0px;
    width: 30px;
    height: 30;
}
li{
    list-style-type: none;
    color: white;
    margin: 8px;
    margin-left: 0;
    font-weight: bold;
}   
h4{
    font-size: 18px;
    font-weight: bold;
    color: var(--discord);
}
.secondfooter {
    width: 65%;
    margin: auto;
    margin-top: 7px;
}
.sfooter {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7px;
}
.second-logo,
.button {
    width: 200px;
    text-align: center;
    margin-top: 3px;
}
.second-logo {
    margin-left: -7px;
}
.button {
    width: 90px;
    border-radius: 40px;
    color: white;
    background-color: var(--discord);
    padding: 8px 12px;
}
/* #endregion footer */
